.progress-bar__wrapper {
    margin-bottom: 16px;
}
.progress-bar__wrapper:last-child {
    margin-bottom: 0;
}

.progress-bar__bar {
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 2px;
    width: 200px;
}

.progress-bar__bar-value {
    max-width: 100%;
    height: 8px;
    background-color: var(--primary-color);
}

.progress-bar__value,
.progress-bar__title {
    display: block;
    line-height: 1;
    font-size: 12px;
    max-width: 200px;
    text-align: center;
}