.player__block {
    border: 1px solid var(--primary-color);
    min-height: 60px;
    margin-left: 4px;
    margin-right: 4px;
}
.player__block:first-child {
    margin-left: 0;
}
.player__block:last-child {
    margin-right: 0;
}

.player__exp {
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 2px;
    width: 200px;
}

.player__exp-value {
    max-width: 200px;
    height: 8px;
    background-color: var(--primary-color);
}

.player__experience {
    line-height: 1;
    font-size: 12px;
    max-width: 200px;
}