.inventory-object {
    flex-direction: row;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.inventory-object__image img {
    height: 50px;
}

.inventory-object__count {
    right: 4px;
    bottom: 4px;
    font-size: 13px;
    color: var(--white);
    z-index: 2;
}
.inventory-object__count:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 40px;
    transform: rotate(-40deg);
    background-color: var(--primary-color);
    right: -30px;
    bottom: -20px;
    z-index: -1;
}