.app {
    padding: 16px;
}

.app__grid {
    grid-template-areas:
            'player'
            'field'
            'field'
            'inventory';
    gap: 8px;
}

.app__player-area {
    grid-area: player;
}

.app__field-area {
    grid-area: field;
    border: 1px solid var(--primary-color);
    padding: 8px;
}

.inventory-area {
    grid-area: inventory;
}
