:root {
  --primary-color: #222;
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}



/* text-align */
.ta-c {text-align: center;}

.ta-l {text-align: left;}

.ta-r {text-align: right;}

/* margin-left: 0 */
.ml-0 {margin-left: 0;}

/* display */
.d-b {display: block;}

.d-f {display: flex;}

.d-g {display: grid;}

/* flex-direction */
.fxd-c {flex-direction: column;}

/* justify-content */
.jc-c {justify-content: center;}

.jc-sb {justify-content: space-between;}

/* align-items */
.ai-c {align-items: center;}

/* flex-grow */
.fxg-1 {flex-grow: 1;}

/* cursor */
.cur-p {cursor: pointer;}

/* position */
.pos-r {position: relative;}

.pos-a {position: absolute;}

/* overflow */
.ov-h {overflow: hidden;}

/* width */
.w-full {width: 100%;}

.w-\[50px\] {width: 50px;}

.w-\[80px\] {width: 80px;}

/* height */
.h-\[14px\] {height: 14px;}

.h-\[80px\] {height: 80px;}

/* border-width */
.bdw-\[1px\] {border-width: 1px;}

/* color */
.c-white {color: var(--white);}

/* border-radius */
.bdrs-4px {border-radius: 4px;}