:root {
  --primary-color: #222;
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}



/* text-align: center */
.ta-c {text-align: center;}

/* text-align: left */
.ta-l {text-align: left;}

/* text-align: right */
.ta-r {text-align: right;}

/* margin-left: 0 */
.ml-0 {margin-left: 0;}

/* display: block */
.d-b {display: block;}

/* display: flex */
.d-f {display: flex;}

/* display: grid */
.d-g {display: grid;}

/* justify-content: center */
.jc-c {justify-content: center;}

/* align-items: center */
.ai-c {align-items: center;}

/* cursor: pointer */
.cur-p {cursor: pointer;}

/* position: relative */
.pos-r {position: relative;}

/* position: absolute */
.pos-a {position: absolute;}

/* width: 100% */
.w-full {width: 100%;}

/* width: 50px */
.w-\[50px\] {width: 50px;}

/* width: 80px */
.w-\[80px\] {width: 80px;}